defaults
    mode http

frontend gateway
    bind *:8800
    use_backend dumper if { path_beg /prpc/unifiedfleet.api.v1.cron.Cron/ }
    default_backend ufs-service

backend dumper
    server dumper dumper:8800

backend ufs-service
    server ufs-service ufs-service:8800
