# Ignore consoleadmin as a file only.
consoleadmin
!consoleadmin/

# Ignore fleetconsoleserver as a file only.
fleetconsoleserver
!fleetconsoleserver/

# Python virtual environment
venv

# Air binary
air

# Air temp directory
tmp
