# ignore fleet cost as a file only
fleetcost
!fleetcost/

# ignore fleetcostserver as a file only
fleetcostserver
!fleetcostserver/

# Please do not check your Makefile into version control.
# Doing so increases the odds that some piece of automation
# somewhere will come to depend on it.
Makefile

# Do not check in the coverage profile.
coverage.out